<div id="<%= dom_id medicines_in_pharmacy %>">
  <p>
    <strong>Pharmacy:</strong>
    <%= medicines_in_pharmacy.pharmacy.name %>
  </p>

  <p>
    <strong>Medicine:</strong>
    <%= medicines_in_pharmacy.medicine.name %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= medicines_in_pharmacy.count %>
  </p>

</div>
