<h1>Editing medicines in pharmacy</h1>

<%= render "form", medicines_in_pharmacy: @medicines_in_pharmacy %>

<br>

<div>
  <%= link_to "Show this medicines in pharmacy", @medicines_in_pharmacy %> |
  <%= link_to "Back to medicines in pharmacies", medicines_in_pharmacies_path %>
</div>
