<h1>New medicines in pharmacy</h1>

<%= render "form", medicines_in_pharmacy: @medicines_in_pharmacy %>

<br>

<div>
  <%= link_to "Back to medicines in pharmacies", medicines_in_pharmacies_path %>
</div>
