<div id="<%= dom_id order %>">
  <p>
<<<<<<< HEAD
=======
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
>>>>>>> 1e11775 (First Commit)
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
